/* Mobile Phones */
@media (max-width: 748px) {
    #login-content {
        /* login Form */
        border-radius: 22px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        align-items: center;
    }
    
    #login-header h1 {
        /* login Title*/
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 62px;
        line-height: 116px;
        text-align: center;
        color: #FF6F77;
        margin: 0;
        padding: 0;
    }
    
    #login-header p {
        /* TaskFlow: A Collaborative Task Management System */
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 29px;
        text-align: center;
    
        color: #565656;
        margin: 0;
        padding: 0;
    }
    
    #login-main {
        display: grid;
        align-items: start;
    }
    
    #login-form {
        display: grid;
        place-items: center center;
        gap: 1.2rem;
    }
    
    #login-form > div{
        margin: auto;
        min-width: 90%;
        max-width: 90%;
        text-align: start;
        text-wrap: wrap;
    }
    
    #login-form input, span{
        font-size: 22px;
    }
    
    #login-form button{
        font-size: 22px;
        width: 90%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #login-form > button > span {
        font-size: 33px;
    }
    
    #login-footer {
        text-align: center;
    }
    
    #login-footer a{
        /* Already logined */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
    
        color: #FF6E77;
    
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    
       
}